div{
    font-size: 10px;
}
div > img{
    width: 50px;
    height: 50px;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root{
width: 50%;
}